<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sPEM -->
      <package
            uri="http://www.eclipse.org/sirius/sample/sPEM"
            class="org.eclipse.sirius.sample.sPEM.SPEMPackage"
            genModel="model/sPEM.genmodel"/>
   </extension>

</plugin>
